/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
.network-waterfall-v-scroll {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    margin-top: 31px;
    z-index: 200;
}

.network-waterfall-v-scroll.small {
    margin-top: 27px;
}

.network-waterfall-v-scroll-content {
    width: 15px;
    pointer-events: none;
}
