.data-grid {
    border: none;
}
.data-grid {
    flex: auto;
    border: none;
}

.data-grid .data {
    background-image: none;
}

.data-grid td {
    /* border-bottom: 1px solid #ccc; */
    border-left-color: #ccc;
}

.data-grid tr.selected {
    background-color: #def;
}

.data-grid th {
    border-left-color: #ccc;
}

.protocol-message-sent {
    background-color: hsl(281, 64%, 95%);
}

.protocol-monitor-toolbar {
    border-bottom:var(--divider-border);
}

.error {
    background-color: hsl(0, 100%, 97%);
    color: red;
}