/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.ax-name {
    color: rgb(153, 69, 0);
    flex-shrink: 0;
}

.ax-readable-name {
    flex-shrink: 0;
    padding-left: 2px;
}

.ax-readable-string {
    font-style: italic;
}

.ax-value-string {
    color: rgb(200, 0, 0);
}

span.ax-internal-role {
    font-style: italic;
}
