/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.sidebar-pane.accessibility-computed {
    background-color: rgba(0, 0, 0, 0.03);
}

.widget.ax-subpane {
    overflow-x: hidden;
    -webkit-user-select: text;
}

div.ax-text-alternatives {
    margin-bottom: 3px;
    border-bottom: 1px solid #BFBFBF;
}

.ax-ignored-info {
    padding: 6px;
}

.ax-ignored-node-pane {
    flex: none;
}

.invalid {
    text-decoration: line-through;
}

span.ax-value-undefined {
    font-style: italic;
}

.ax-value-source-unused {
    opacity: 0.7;
}

.ax-value-source-superseded,
.ax-value-source-invalid {
    text-decoration: line-through;
}

.sidebar-pane-stack .sidebar-pane {
    padding-left: 4px;
}

.tree-outline label[is=dt-icon-label] {
    position: relative;
    left: -11px;
}

.tree-outline li {
    display: block;
    overflow-x: hidden;
    padding-left: 1px;
    align-items: baseline;
}

.tree-outline li::before {
    content: "";
    width: 14px;
    display: inline-block;
}

.tree-outline li.property {
    color: rgb(33, 33, 33);
}

.tree-outline li.invalid {
    position: relative;
    left: -2px;
}

.tree-outline label[is=dt-icon-label] + .ax-name {
    margin-left: -11px;
}

.tree-outline li span {
    flex-shrink: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
