/*
 * Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.crumbs {
    display: inline-block;
    pointer-events: auto;
    cursor: default;
    white-space: nowrap;
}

.crumbs .crumb {
    display: inline-block;
    padding: 0 7px;
    line-height: 23px;
    white-space: nowrap;
}

.crumbs .crumb.collapsed > * {
    display: none;
}

.crumbs .crumb.collapsed::before {
    content: "\2026";
    font-weight: bold;
}

.crumbs .crumb.compact .extra {
    display: none;
}

.crumb.selected, .crumb:hover {
    background-color: var(--toolbar-bg-color);
}

.crumb:not(.selected) .node-label-name {
    color: var(--dom-tag-name-color);
}

.crumb:not(.selected) .node-label-class {
    color: var(--dom-attribute-name-color);
}
