/**
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.styles-element-classes-pane {
    background-color: var(--toolbar-bg-color);
    border-bottom: 1px solid rgb(189, 189, 189);
    padding: 6px 2px 2px;
}

.styles-element-classes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.styles-element-classes-pane label {
    margin-right: 15px;
}

.styles-element-classes-pane .title-container {
    padding-bottom: 2px;
}

.styles-element-classes-pane .new-class-input {
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
    border: 1px solid #ddd;
    line-height: 15px;
    margin-left: 3px;
    width: calc(100% - 7px);
    background-color: #fff;
    cursor: text;
}
