/*
 * Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: inline;
}

.node-link {
    cursor: pointer;
    display: inline;
    pointer-events: auto;
}

.node-label-name {
    color: rgb(136, 18, 128);
}

.node-label-class, .node-label-pseudo {
    color: rgb(153, 69, 0);
}
