/*
 * Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.profile-isolate-item {
    padding: 4px;
    line-height: 16px;
    border-left: 2px solid transparent;
    overflow-x: hidden;
}

.profile-isolate-item:hover {
    background-color: hsla(0, 0%, 0%, 0.05);
}

.profile-isolate-item.selected {
    border-color: #4285f4;
    background-color: #4285f420;
}

.profile-isolate-item > div {
    flex-shrink: 0;
    margin-left: 9px;
}

.profile-isolate-item-heap {
    width: 120px;
}
