/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.report-row {
    display: flex;
    align-items: center;
}

.clear-storage-button .report-row {
    margin: 0 0 0 17px;
    display: flex;
}

.link {
    margin-left: 10px;
    display: none;
}

.report-row:hover .link {
    display: inline;
}

.usage-breakdown-row {
    min-width: fit-content;
}

.usage-breakdown-legend-row {
    margin: 5px auto;
}

.usage-breakdown-legend-title {
    display: inline-block;
}

.usage-breakdown-legend-value {
    display: inline-block;
    width: 70px;
    text-align: right;
}

.usage-breakdown-legend-swatch {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 6px;
    position: relative;
    top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
