/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.tree-outline {
    padding-left: 0;
    color: rgb(90, 90, 90);
}

.tree-outline > ol {
    padding-bottom: 10px;
}

.tree-outline li {
    min-height: 20px;
}

li.storage-group-list-item {
    padding: 10px 8px 6px 8px;
}

li.storage-group-list-item:not(:first-child) {
    border-top: 1px solid rgb(230, 230, 230);
}

li.storage-group-list-item::before {
    display: none;
}

.navigator-tree-item {
    margin: -3px -7px -3px -7px;
}

.navigator-file-tree-item {
    background: linear-gradient(45deg, hsl(0, 0%, 50%), hsl(0, 0%, 70%));
}

.navigator-folder-tree-item {
    background: linear-gradient(45deg, hsl(210, 82%, 65%), hsl(210, 82%, 80%));
}

.navigator-frame-tree-item {
    background-color: #5a5a5a;
}

.navigator-script-tree-item {
    background: linear-gradient(45deg, hsl(48, 70%, 50%), hsl(48, 70%, 70%));
}

.navigator-stylesheet-tree-item {
    background: linear-gradient(45deg, hsl(256, 50%, 50%), hsl(256, 50%, 70%));
}

.navigator-image-tree-item,
.navigator-font-tree-item {
    background: linear-gradient(45deg, hsl(109, 33%, 50%), hsl(109, 33%, 70%));
}

.resource-tree-item {
    background: rgba(90, 90, 90, .7);
}
