/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  display: inline-block;
  border: 1px solid #ddd;
  position: relative;
  top: 7px;
  margin: 2px;
  background-color: var(--toolbar-bg-color);
}

:host > * {
  position: relative;
  left: -2px;
  width: 28px;
  height: 26px;
}