/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.cm-js-atom{color:rgb(161, 247, 181);}
.cm-js-attribute{color:rgb(97, 148, 198);}
.cm-js-builtin{color:rgb(159, 180, 214);}
.cm-js-comment{color:rgb(116, 116, 116);}
.cm-js-def{color:var(--dom-tag-name-color);}
.cm-js-keyword{color:rgb(154, 127, 213);}
.cm-js-link{color:rgb(159, 180, 214);}
.cm-js-meta{color:rgb(221, 251, 85);}
.cm-js-number{color:rgb(161, 247, 181);}
.cm-js-operator{color:rgb(210, 192, 87);}
.cm-js-property{color:rgb(210, 192, 87);}
.cm-js-string{color:rgb(242, 139, 84);}
.cm-js-string-2{color:rgb(242, 139, 84);}
.cm-js-tag{color:var(--dom-tag-name-color);}
.cm-js-variable{color:rgb(217, 217, 217);}
.cm-js-variable-2{color:rgb(217, 217, 217);}
.cm-atom{color:rgb(161, 247, 181);}
.cm-comment{color:rgb(116, 116, 116);}
.cm-variable{color:rgb(217, 217, 217);}
.cm-string{color:rgb(242, 139, 84);}
.cm-keyword{color:rgb(154, 127, 213);}
.cm-number{color:rgb(161, 247, 181);}
.cm-operator{color:rgb(210, 192, 87);}
.cm-css-atom{color:rgb(217, 217, 217);}
.cm-css-builtin{color:rgb(255, 163, 79);}
.cm-css-def{color:rgb(255, 163, 79);}
.cm-css-comment{color:rgb(116, 116, 116);}
.cm-css-meta{color:rgb(132, 240, 255);}
.cm-css-number{color:rgb(217, 217, 217);}
.cm-css-operator{color:rgb(217, 217, 217);}
.cm-css-property{color:rgb(132, 240, 255);}
.cm-css-qualifier{color:rgb(255, 163, 79);}
.cm-css-string{color:rgb(231, 194, 111);}
.cm-css-string-2{color:rgb(217, 217, 217);}
.cm-css-tag{color:rgb(255, 163, 79);}
.cm-css-variable{color:rgb(255, 163, 79);}
.cm-css-variable-2{color:rgb(255, 163, 79);}
.cm-xml-comment{color:rgb(137, 137, 137);}
.cm-xml-error{color:rgb(198, 95, 95);}
.cm-xml-string{color:rgb(242, 151, 102);}
.cm-xml-tag{color:var(--dom-tag-name-color);}
.cm-xml-attribute{color:var(--dom-attribute-name-color);}
.cm-xml-link{color:rgb(231, 194, 111);}

.webkit-html-attribute-name{color:var(--dom-attribute-name-color);}
.webkit-html-attribute-value{color:rgb(242, 151, 102);}
.webkit-html-comment{color:rgb(137, 137, 137);}
.devtools-link{color:rgb(231, 194, 111);}
.webkit-html-tag{color:var(--dom-tag-name-color);}
.webkit-html-tag-name{color:var(--dom-tag-name-color);}
.webkit-html-close-tag-name{color:var(--dom-tag-name-color);}
.webkit-html-text-node{color:rgb(207, 208, 208);}
.webkit-html-css-node{color:rgb(207, 208, 208);}
.webkit-html-js-node{color:rgb(207, 208, 208);}
.webkit-html-pseudo-element{color:rgb(93, 175, 215);}
.webkit-css-selector{color:rgb(255, 163, 79);}
.webkit-css-at-rule{color:rgb(188, 164, 197);}
.webkit-css-color{color:rgb(255, 163, 79);}
.webkit-css-comment{color:rgb(116, 116, 116);}
.webkit-css-important{color:rgb(255, 26, 26);}
.webkit-css-keyword{color:rgb(255, 163, 79);}
.webkit-css-number{color:rgb(217, 217, 217);}
.webkit-css-property{color: rgb(53, 212, 199);}
.webkit-css-string{color:rgb(231, 194, 111);}
.webkit-css-url{color:rgb(231, 194, 111);}

.cm-def{color:var(--dom-tag-name-color);}
.cm-header{color:var(--dom-tag-name-color);}
.cm-variable-2{color:rgb(217, 217, 217);}

.cm-variable-2 {color: #05a;}
.cm-variable-3, .cm-type {color: rgb(93, 176, 215);}
.cm-string {color: rgb(242, 139, 84);}
.cm-meta {color: #555;}
.cm-meta {color:rgb(221, 251, 85);}
.cm-qualifier{color:rgb(255, 163, 79);}
.cm-builtin{color:rgb(159, 180, 214);}
.cm-bracket {color: #997;}
.cm-tag{color:var(--dom-tag-name-color);}
.cm-attribute{color:rgb(97, 148, 198);}
.cm-hr {color: #999;}
.cm-link{color:rgb(159, 180, 214);}

:root {
    --dom-tag-name-color: rgb(93, 176, 215);
    --dom-attribute-name-color: rgb(155, 187, 220);
}
