/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.dt-range-input {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    height: 10px;
    width: 88px;
    outline: none;
    background: none;
}

.dt-range-input::-webkit-slider-thumb, -theme-preserve {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
    width: 12px;
    height: 12px;
    margin-top: -5px;
    border-radius: 50%;
    background-color: #4285F4;
}

.dt-range-input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.26);
}

.dt-range-input:focus::-webkit-slider-thumb, -theme-preserve {
    box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.4);
}

.dt-range-input:disabled::-webkit-slider-thumb {
    background-color: #bdbdbd;
}
