/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

div {
    display: inline-block;
    height: 14px;
    vertical-align: middle;
    white-space: nowrap;
    padding: 1px 4px;
    text-align: left;
    font-size: 11px;
    line-height: normal;
    font-weight: bold;
    text-shadow: none;
    color: white;
    margin-top: -1px;
    border-radius: 7px;
}

div.verbose {
    background-color: rgb(0, 0, 255);
}

div.info {
    background-color: rgb(128, 151, 189);
}

div.warning {
    background-color: rgb(232, 164, 0);
}

div.error {
    background-color: rgb(216, 35, 35);
}
