/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.item.disabled {
    opacity: 0.5;
}

.item-list {
    background-color: white;
    box-shadow: var(--drop-shadow);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.item.highlighted {
    color: var(--selection-fg-color);
    background-color: var(--selection-bg-color);
}
