/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.devices-settings-tab .settings-tab.settings-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin: 0;
}

.devices-settings-tab .devices-title {
    font-size: 120%;
    color: #222;
    flex: none;
}

.devices-settings-tab .devices-button-row {
    flex: none;
    display: flex;
}

.devices-settings-tab .devices-button-row button {
    margin-right: 10px;
    min-width: 120px;
    flex: none;
}

.devices-settings-tab .devices-list {
    width: 350px;
    margin-top: 10px;
}

.devices-list-item {
    padding: 3px 5px 3px 5px;
    height: 30px;
    display: flex;
    align-items: center;
    flex: auto 1 1;
    cursor: pointer;
}

.devices-list-checkbox {
    height: 12px;
    width: 12px;
    margin: 3px 5px 2px 2px;
    flex: none;
    pointer-events: none;
}

.devices-list-checkbox:focus {
    outline: auto 5px -webkit-focus-ring-color;
}

.devices-list-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: auto;
    -webkit-user-select: none;
    color: #222;
}

.devices-edit-fields {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 5px;
}

.devices-edit-fields input {
    flex: auto;
    margin: 8px 5px 0 5px;
}

.devices-edit-fields .device-edit-fixed {
    flex: 0 0 140px;
}

.devices-edit-fields select {
    margin: 8px 5px 0 5px;
}
