/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.file-system-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
    margin: 10px 0;
}

.file-system-header-text {
    font-size: 14px;
    flex: auto;
}

.add-button {
    margin-left: 10px;
    align-self: flex-start;
}

.file-system-list {
    max-width: 600px;
    flex: auto;
}

.file-system-list-empty {
    flex: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-system-list-item {
    padding: 3px 5px 3px 5px;
    height: 30px;
    display: flex;
    align-items: center;
    flex: auto 1 1;
}

.file-system-value {
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    color: #222;
    flex: 1 1 0px;
    overflow: hidden;
}

.file-system-separator {
    flex: 0 0 1px;
    background-color: rgb(231, 231, 231);
    height: 30px;
    margin: 0 4px;
}

.file-system-separator-invisible {
    visibility: hidden;
    height: 100% !important;
}

.file-system-edit-row {
    flex: none;
    display: flex;
    flex-direction: row;
    margin: 6px 5px;
    align-items: center;
}

.file-system-edit-row input {
    width: 100%;
    text-align: inherit;
}

.file-system-locked {
    flex: none;
    visibility: hidden;
}

.file-system-locked:after {
    content: "\1F512";
}

.file-system-list-item.locked .file-system-locked {
    visibility: visible;
}
