/*
 * Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  z-index: 30;
  padding: 4px;
  background-color: #e6e6e6;
  border-radius: 7px;
  border: 2px solid #bababa;
  width: 90%;
  pointer-events: auto;
}

.source-frame-breakpoint-message {
  background-color: transparent;
  font-weight: normal;
  text-align: left;
  text-shadow: none;
  color: rgb(85, 85, 85);
  cursor: default;
  margin: 0 0 2px 0;
}

#source-frame-breakpoint-condition {
  margin: 0;
  border: 1px inset rgb(190, 190, 190) !important;
  width: 100%;
  box-shadow: none !important;
  outline: none !important;
  background: white;
}

:host(.sources-edit-breakpoint-dialog) {
  border: none;
  border-radius: 0;
  z-index: 30;
  background-color: var(--toolbar-bg-color);
  width: 555px;
  pointer-events: auto;
  margin: 2px 0 2px -1px;
  padding: 0 10px 10px 5px;
  border: 1px solid var(--divider-color);
}

:host-context(.sources-edit-breakpoint-dialog) .condition-editor {
  background-color: #fff;
  margin-left: 3px;
}

:host-context(.sources-edit-breakpoint-dialog) .source-frame-breakpoint-toolbar {
  font-family: sans-serif;
  font-size: 12px;
}

:host-context(.sources-edit-breakpoint-dialog) .source-frame-breakpoint-editor:hover,
:host-context(.sources-edit-breakpoint-dialog) .source-frame-breakpoint-editor:focus-within {
  box-shadow: var(--focus-ring-inactive-shadow);
}
