/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.blackboxed-message {
    text-align: center;
    font-style: italic;
    padding: 4px;
    color: #888;
    background-color: #FFFFC2;
}

.blackboxed-message > .link {
    margin-left: 5px;
}

.show-more-message {
    text-align: center;
    font-style: italic;
    padding: 4px;
    border-top: 1px solid #d8d8d8;
}

.show-more-message > .link {
    margin-left: 5px;
}

.call-frame-item {
    padding: 3px 8px 3px 20px;
    position: relative;
    min-height: 18px;
    line-height: 15px;
    display: flex;
    flex-wrap: wrap;
}

.call-frame-title-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

.call-frame-item:not(.async-header) {
    border-top: 1px solid #efefef;
}

.call-frame-item:not(.async-header):hover {
    background-color: #eee;
}

.async-header + .call-frame-item {
    border-top: 0;
}

.call-frame-item-title,
.call-frame-location {
    display: flex;
    white-space: nowrap;
}

.call-frame-location {
    color: #888;
    margin-left: auto;
    padding: 0 10px 0 10px;
}

.async-header::before {
    content: " ";
    width: 100%;
    border-top: 1px solid #d8d8d8;
    margin-top: 8px;
    position: absolute;
    z-index: -1;
    left: 0;
}

.async-header .call-frame-item-title {
    font-weight: bold;
    color: #999;
    background-color: white;
    margin-left: -5px;
    padding: 0 5px;
}

.blackboxed-call-frame {
    opacity: 0.6;
    font-style: italic;
}

.selected-call-frame-icon {
    display: none;
    position: absolute;
    top: 5px;
    left: 4px;
}

.call-frame-item.selected .selected-call-frame-icon {
    display: block;
}

:host-context(.-theme-with-dark-background) .blackboxed-message {
    background-color: hsl(46, 98%, 22%);
    color: #aaa;
}

:host-context(.-theme-with-dark-background) .blackboxed-message > .link {
    color: hsl(0, 0%, 67%);
}
