/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.watch-expression-delete-button {
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;
    opacity: 0;
    min-width: 20px;
}

.watch-expression-header:hover .watch-expression-delete-button {
    opacity: 0.5;
}

.watch-expression-header:hover .watch-expression-delete-button:hover {
    opacity: 1;
}

.watch-expressions {
    overflow-x: hidden;
    min-height: 26px;
}

.watch-expressions .dimmed {
    opacity: 0.6;
}

.watch-expression-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    margin-left: 16px;
}

.watch-expression-object-header .watch-expression-title {
    margin-left: 1px;
}

.watch-expression {
    position: relative;
    flex: none;
    min-height: 20px;
}

.watch-expressions .name {
    color: rgb(136, 19, 145);
    flex: none;
    white-space: nowrap;
    text-overflow: ellipsis ;
    overflow: hidden;
}

.watch-expression-error {
    color: red;
}

:host-context(.-theme-with-dark-background) .watch-expression-error {
    color: hsl(0, 100%, 65%);
}

.watch-expressions-separator {
    flex: none;
}

.watch-expressions .value {
    white-space: nowrap;
    display: inline;
}

.watch-expression .text-prompt {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 4px;
    min-height: 18px;
    line-height: 18px;
    -webkit-user-select: text;
}

.watch-expression-text-prompt-proxy {
    margin: 2px 12px;
    padding-bottom: 3px;
}

.watch-expression-header {
    flex: auto;
}

.watch-expression-object-header {
    margin-left: -16px;
    padding-left: 15px;
}

.watch-expression-header:hover {
    background-color: #F0F0F0;
    padding-right: 28px;
}

.watch-expression-object {
    padding-left: 5px;
}
