/*
 * Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.terminal-root {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
    -webkit-user-select: text;
    white-space: nowrap;
}

.terminal-error-message {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    font-size: 16px;
    color: #222;
}

.terminal-error-message div {
    padding-right: 10px;
}

.terminal-link {
    color: inherit;
    text-decoration: inherit;
}

.terminal-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
