/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.toolbar {
    background-color: var(--toolbar-bg-color);
    border-bottom: var(--divider-border);
}

.lh-root {
  --report-menu-width: 0;
  user-select: text;
  --lh-bg-color: #fff;
  background-color: var(--lh-bg-color);
}

.-theme-with-dark-background .lh-root {
  --header-bg-color: hsl(0, 0%, 20%);
  --lh-table-header-bg: hsl(0, 0%, 20%);
  --display-value-gray: hsl(0, 0%, 66%);
  --medium-75-gray: hsl(0, 0%, 66%);

  --subheader-color: hsl(210, 15%, 80%);
  --lh-bg-color: hsl(0, 0%, 14%);
  --secondary-text-color: hsl(0, 0%, 66%);
  --report-secondary-border-color: hsl(0, 0%, 8%);
}

.-theme-with-dark-background .lh-root .lh-gauge {
  --circle-background: hsl(0, 0%, 27%);
  --inset-color: var(--lh-bg-color);
}

.lh-root .lh-container {
  word-wrap: normal;
}

.lh-root pre {
  word-wrap: break-word;
}

/* for View Trace button */
.lh-audit-group {
  position: relative;
}
button.view-trace {
  margin: 10px;
}

.audits2-results-container {
    overflow-y: scroll;
    position: relative;
}

/* TODO(phulce): remove the below on next LH roll */

.-theme-with-dark-background .lh-scores-wrapper__background, .-theme-with-dark-background .lh-scores-wrapper__shadow {
  background: var(--lh-bg-color) !important;
}

.-theme-with-dark-background .lh-gauge__label {
  color: hsl(210, 15%, 80%);
}

.-theme-with-dark-background .lh-root .lh-audit a, .-theme-with-dark-background .lh-footer a {
  color: hsl(210, 90%, 60%);
}

.-theme-with-dark-background .lh-load-opportunity__header .lh-load-opportunity__col {
  background: hsl(0, 0%, 20%);
}

.-theme-with-dark-background .lh-crc .crc-node__tree-hostname {
  color: hsl(0, 0%, 66%);
}

.-theme-with-dark-background .lh-audit-group__header::before {
  background-color: hsl(0, 0%, 80%);
  filter: invert(1);
}