/*
 * Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.audits2-start-view {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.audits2-start-view header {
  padding: 0 16px;
  display: flex;
}

.audits2-logo {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
    background-image: url(Images/audits_logo.svg);
}

.audits2-start-view-text {
  color: #757575;
  margin-top: 24px;
}

.audits2-start-view-text h2 {
  color: black;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 12px;
}

.audits2-start-view-text p {
  margin-top: 0;
}

.audits2-start-view form {
  padding: 0 16px;
}

.audits2-form-section {
  border-top: 1px solid #ebebeb;
  display: flex;
  padding: 16px 8px;
}

.audits2-form-section:last-child {
  border-top: none;
  padding-top: 0;
}

.audits2-form-section-label {
  display: flex;
  width: 160px;
}

.audits2-form-section-label i {
  width: 16px;
  height: 16px;
  display: block;
  text-align: center;
}

.audits2-icon-label {
  margin: 0 14px;
}

.audits2-form-section-label i span {
  position: relative;
  top: -2px;
}

.audits2-form-section-label span.largeicon-checkmark {
  top: -4px;
}

.audits2-radio {
  display: block;
  margin-bottom: 8px;
}

.audits2-radio:last-child {
  margin-bottom: 0;
}

.audits2-start-button-container {
  align-items: center;
}

.audits2-start-button {
  max-width: 100px;
}

.audits2-start-view .toolbar-dropdown-arrow {
  display: none;
}

.audits2-launcher-row {
  padding-bottom: 8px;
}

.audits2-launcher-row:last-of-type {
  padding-bottom: 0;
}

.audits2-launcher-row .dimmed {
  padding-left: 22px;
}

.audits2-help-text {
  color: red;
  font-weight: bold;
  padding-left: 10px;
}