/*
 * Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.search-drawer-header {
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
}

.search-toolbar {
    background-color: var(--toolbar-bg-color);
    border-bottom: var(--divider-border);
}

.search-toolbar-summary {
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding-left: 5px;
    flex: 0 0 19px;
    display: flex;
    padding-right: 5px;
}

.search-toolbar-summary .search-message {
    padding-top: 2px;
    padding-left: 1ex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-view .search-results {
    overflow-y: auto;
    display: flex;
    flex: auto;
}

.search-view .search-results > div {
    flex: auto;
}
