/*
 * Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.object-properties-section-dimmed {
    opacity: 0.6;
}

.object-properties-section {
    padding: 0 0 0px 0px;
    color: rgb(33,33,33) !important;
    display: flex;
    flex-direction: column;
}

.object-properties-section li {
    -webkit-user-select: text;
}

.object-properties-section li::before {
    top: -1px;
}

.object-properties-section li.editing-sub-part {
    padding: 3px 12px 8px 6px;
    margin: -1px -6px -8px -6px;
    text-overflow: clip;
}

.object-properties-section li.editing {
    margin-left: 10px;
    text-overflow: clip;
}

.tree-outline ol.title-less-mode {
    padding-left: 0px;
}

.object-properties-section .synthetic-property {
    font-style: italic;
}

.object-properties-section-root-element {
    display: flex;
    flex-direction: row;
}

.object-properties-section .editable-div {
    overflow: hidden;
}

.name-and-value {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}

.editing-sub-part .name-and-value {
    overflow: visible;
    display: inline-flex;
}

.property-prompt {
    margin-left: 4px;
}

.tree-outline.hide-selection-when-blurred .selected:focus[data-keyboard-focus="true"] {
    background: none;
}

.tree-outline.hide-selection-when-blurred .selected:focus[data-keyboard-focus="true"] ::content > *,
.tree-outline.hide-selection-when-blurred .selected:focus[data-keyboard-focus="true"] .name-and-value {
    background: var(--focus-bg-color);
    border-radius: 2px;
    box-shadow: 0px 0px 0px 2px var(--focus-bg-color);
}
