/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.chart-viewport-v-scroll {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    z-index: 200;
    padding-left: 1px;
}

.chart-viewport-v-scroll.always-show-scrollbar {
    overflow-y: scroll;
}

/* force non overlay scrollbars for Mac */
:host-context(.platform-mac) .chart-viewport-v-scroll {
    right: 2px;
    top: 3px;
    bottom: 3px;
}

:host-context(.platform-mac) ::-webkit-scrollbar {
    width: 8px;
}

:host-context(.platform-mac) ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 56%, 0.6);
    border-radius: 50px;
}

:host-context(.platform-mac) .chart-viewport-v-scroll:hover::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 25%, 0.6);
}

/* force non overlay scrollbars for Aura Overlay Scrollbar enabled */
:host-context(.overlay-scrollbar-enabled) ::-webkit-scrollbar {
    width: 10px;
}

:host-context(.overlay-scrollbar-enabled) ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 0%, 0.5);
}

:host-context(.overlay-scrollbar-enabled) .chart-viewport-v-scroll:hover::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 0%, 0.7);
}

.chart-viewport-selection-overlay {
    position: absolute;
    z-index: 100;
    background-color: rgba(56, 121, 217, 0.3);
    border-color: rgb(16, 81, 177);
    border-width: 0 1px;
    border-style: solid;
    pointer-events: none;
    top: 0;
    bottom: 0;
    text-align: center;
}

.chart-viewport-selection-overlay .time-span {
    white-space: nowrap;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
