/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.flame-chart-main-pane {
    overflow: hidden;
}

.flame-chart-marker-highlight-element {
    position: absolute;
    top: 1px;
    height: 18px;
    width: 6px;
    margin: 0 -3px;
    content: "";
    display: block;
}

.flame-chart-highlight-element {
    position: absolute;
    pointer-events: none;
    background-color: rgba(56, 121, 217, 0.1);
}

.flame-chart-selected-element {
    position: absolute;
    pointer-events: none;
    outline: 2px solid var(--selection-bg-color);
    background-color: rgba(56, 121, 217, 0.1);
}

.chart-cursor-element {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    width: 2px;
    background-color: var(--selection-bg-color);
    pointer-events: none;
}

.flame-chart-entry-info:not(:empty) {
    z-index: 2000;
    position: absolute;
    background-color: white;
    pointer-events: none;
    padding: 4px 8px;
    white-space: nowrap;
    max-width: 80%;
    box-shadow: var(--drop-shadow);
}

.flame-chart-entry-info table tr td:empty {
    padding: 0;
}

.flame-chart-entry-info table tr td:not(:empty) {
    padding: 0 5px;
    white-space: nowrap;
}

.flame-chart-entry-info table tr td:first-child {
    font-weight: bold;
}

.flame-chart-entry-info table tr td span {
    margin-right: 5px;
}
