/*
 * Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
}

.hbox {
    overflow-y: auto;
    overflow-x: hidden;
}

.release-note-top-section {
    height: 27px;
    line-height: 27px;
    padding: 0 15px;
    flex: none;
    background-color: var(--toolbar-bg-color);
    border-bottom: var(--divider-border);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:host-context(.-theme-with-dark-background) .release-note-top-section {
    color: white;
}

.release-note-container {
    display: flex;
    flex-direction: column;
}

.release-note-container ul {
    display: flex;
    padding: 10px 16px;
    flex-direction: column;
    flex: none;
    margin: 4px 12px 0 2px;
    max-width: 600px;
}

.release-note-container li {
    display: flex;
    flex-direction:column;
    flex: none;
    line-height: 24px;
    font-size: 14px;
}


.release-note-container li:hover {
    color: #039be5;
}

.release-note-title,
.release-note-subtitle {
    color: inherit;
    text-decoration: none;
}

.release-note-subtitle {
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 8px;
}

.release-note-container li:not(:hover) .release-note-subtitle {
    color: #999;
}

.release-note-action-container > button {
    margin: 10px 0 20px 20px;
    color: #757575;
}

.release-note-action-container {
    flex: none;
}

.release-note-image {
    flex-shrink: 2;
}

img {
    margin: 20px;
    width: 260px;
    height: 200px;
    flex: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

img:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}
